:root {
    --amarelosol: #F2C12E;
    --amareloouro: #F29F05;
    --amarelomostarda: #BF7E04;
    --veludomarrom: #8F5447;
    --pretodark: #0D0D0D;
}

@font-face {
    font-family: 'Bebas';
    src: url('/barbearia/fontes/BebasNeue-Regular.otf');
}

@font-face {
    font-family: 'Cinzel';
    src: url('/barbearia/fontes/Cinzel-Regular.otf');
}

h1 {
    font-size: 70px;
    text-align: center;
    color: var(--amarelosol);
    font-family: 'Bebas';
}

h2 {
    font-size: 38px;
    text-align: center;
    color: var(--amarelomostarda);
    font-family: 'Bebas';
}

h3 {
    font-size: 25px;
    text-align: center;
    color: var(--veludomarrom);
    font-family: 'Cinzel';
}

.subtitulo {
    text-align: center;
    color: var(--amareloouro);
    font-family: 'Cinzel';
    font-size: 24px;
}

hr {
    width: 70%;
    height: 2px;
    background-color: var(--amareloouro);
    border: none;
}

p {
    width: 70%;
    margin: auto;
    text-align: justify;
    font-family: Arial, sans-serif;
    color: var(--pretodark);
    line-height: 1.6;
}

img {
    height: 250px;
    border-radius: 8px;
    margin: 13px;
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }
}

.display {
    width: fit-content;
    margin: auto;
}

video {
    width: 70%;
    margin: auto;
    display: block;
}
.logo {
    text-align: center;
}

.logo img {
    height: 150px;
    margin: 10px;
    filter: none;
}


